* {
    margin: 0%;
    padding: 0%;
}

html {
    scroll-behavior: smooth;
}
body {
    color: rgb(10, 5, 15);
    font-family: "Poppins", sans-serif;
    font-style: normal;
}
nav{
    display:flex;
    position: fixed;
    z-index: 10;
    top:0;
    right:0;
    left: 0;
    bottom:0;
    justify-content: space-around;
    align-items: center;
    height: 80px;
}
nav::before{
    content:"";
    background-color:rgb(31, 228, 120);
    position:absolute;
    top:0;
    right:0;
    left: 0;
    bottom:0;
    opacity: 0.6;
    z-index:-1;
}
nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}
img{
    height: 70px;
    margin: 10px 0px;
}
nav ul li {
    margin: 0 25px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}
nav ul li:hover {
    background-color:rgb(206, 195, 195);
    padding: 4px 12px;
    border-radius: 10px;
}
nav ul li a:hover {
    color: rgb(246, 93, 142);
    font-size: 1.15rem;
}
.img {
    position: relative;
    height: 65vh;
    width: 100%;
}

.img::before {
    content: "";
    background-image:url(photo/img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.6;
    z-index: -1;
}

#head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#head h1 {
    margin-top: 2.8em;
    font-style: italic;
    font-size: 3rem;
}

#head p {
    font-size: 1.5rem;
    line-height: 6rem;
}

#services h1 {
    text-align: center;
    font-size: 32px;
    margin: 20px 0px;
}

.container {
    margin: 0px 20px;
    padding:20px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.box {
    opacity: 0.5;
}

.box.visible {
    opacity: 1;
}

.box {
    border: 2px solid rgb(139, 190, 151);
    border-radius: 28px;
    width: 400px;
    background-color: lavender;
    box-sizing: border-box;
    padding: 15px;
}

.box h3 {
    text-align: center;
}

.box img {
    height: 150px;
    margin: auto;
    display: block;
}

.box:hover {
 transition: transform 1s ease;
    transform: scale(1.05);
}

#menu {
    padding: 40px 10px;
    background-color: rgb(164, 243, 128);
    text-align: center;
}

#menu h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}


.item {
    background-color: white;
    border: 2px solid rgb(180, 245, 179);
    border-radius: 15px;
    width: 250px;
    padding: 15px;
}

.item img {
    width: 100%;
    border-radius: 10px;
    height: auto;
    transition: transform 0.3s ease;
}
.item:hover img {
    transform: scale(1.1);
}
.item h3 {
    margin: 10px 0;
    font-size: 1.5rem;
}

.item p {
    font-size: 1rem;
}

.price {
    font-weight: bold;
    color: green;
}

.item:hover {
    transform: translateY(-6px);
}

#contact>h1 {
    font-size: 2.8rem;
    text-align: center;
    margin: 20px 0px;
}

#contact {
    padding: 20px 0px;
    position: relative;
    height: 60vh;
    width: 100%;
}

#contact::before {
    content: "";
    background-image:url(photo/contactimg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.4;
    z-index: -1;
}
.moreitems {
    background-color: rgb(247, 6, 18);
    font-size: 1.5em;
    border-radius: 10px;
    padding: 5px 10px;
    text-align: center;
}
button {
    animation: button 2s linear infinite;
  }
  @keyframes button {
    0%{
      transform: rotateY(0);
    }
    15% {
      transform: rotateY(-30deg);
    }
    30% {
      transform: rotateY(30deg);
    }
    45% {
      transform: rotateY(-10deg);
    }
    60% {
      transform: rotateY(10deg);
    }
    75% {
      transform: rotateY(-4deg);
    }
    90%{
       transform: rotateY(4deg);
    }
     100% {
      transform: rotatey(0);
    }
  }
  
.item2{
    display: none;
}
.bottom {
    height: 80px;
    text-align: center;
    background-color: black;
    color: white;
    padding: 14px 0px;
}

.message form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.message input {
    border-radius: 15px;
    width: 40%;
    padding: 10px 20px;
    margin: 10px auto;
}

#customers {
    padding: 40px 20px;
    background-color: rgb(234, 232, 232);
    text-align: center;
}

#customers h1 {
    font-size: 2.5rem;
}

.customers {
    width: 55%;
    margin: 20px auto;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
}

.customers p {
    font-size: 1.2rem;
}

.name {
    font-weight: bold;
    margin-top: 10px;
}
.phonemenu{
    display: none;
}
a img{
    height: 70px;
}
@media screen and (max-width: 580px) {
    #head h1 {
        text-align: center;
        margin-top: 5em;
        font-style: italic;
        font-size: 2rem;
        margin-left: 20px;
        margin-right: 20px;
    }
    .message input{
        width: 68%;
    }
    #head p {
        font-size: 1.3rem;
        line-height: 2rem;
        margin: 20px 12px;
    }
    
    img{
        height: 95px;
    }
    nav{
        height: 120px;
    }
    nav ul {
        flex-direction: column;
        display:none;
    }
    nav ul.active {
        display: flex;
    }
    .phonemenu{
        display: block;
        cursor: pointer;
    }
    nav ul li:hover {
        background-color: rgb(206, 195, 195);
        padding: 4px 10px;
        border-radius: 10px;
    }
    nav ul li a:hover {
        color: rgb(246, 93, 142);
        font-size: 1.1rem;
    }
    #menu h1 {
        font-size: 2rem;
        margin-bottom: 20px;
    }
    #customers h1 {
        font-size: 2rem;
    }   

}
@media screen and (max-width:350px){
    #customers h1 {
        font-size: 1.5rem;
    }   

}

.slide {
    margin: 50px 3px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card-inner {
    margin-top: 20px;
    position: relative;
    width: 200px;
    height: 240px;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.card-inner.flip {
    transform: rotateY(180deg);
}

.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
}
.front {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.back {
    background-color: lavender;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transform: rotateY(180deg);
}

.moreitems {
    background-color: rgb(244, 116, 116);
    color: white;
    font-size: 1.5em;
    border: none;
    border-radius: 10px; 
    padding: 10px 20px;
    cursor: pointer; 
    transition: background-color 0.8s, transform 0.2s; /* Smooth transition */
}

.customer-card {
    animation: slide 2s forwards;
}
@keyframes slide {
    from { transform: translateX(-100%); opacity: 0; }
    to { transform: translateX(0); opacity: 1; }
}

.moreitems:hover {
    background-color: rgb(108, 27, 27); 
}
